/* .flex-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
}
.flex-sub {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.flex-footer {
} */
